body {
  font-family: 'Noto Sans', sans-serif;
  margin: auto;
  padding: 20px;
  max-width: 720px;
  text-align: left;
  background-color: white;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: black;
}

a {
  color: royalblue;
}

.title {
  text-decoration: none;
  border: 0;
  color: black;

  span {
    font-weight: 400;
  }
}

nav a {
  margin-right: 10px;
}

textarea {
  width: 100%;
  font-size: 1rem;
}

input {
  font-size: 1rem;
}

main {
  line-height: 1.6;
}

article {
  hyphens: auto;
  text-align: justify;
}

hr {
  border: 0;
  border-top: 1px solid gray;
  margin: 1em 0;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
}

pre,
code,
kbd,
samp {
  font-family: 'Noto Sans Mono', monospace;
  font-size: 90%;
}

div.highlight pre {
  background-color: initial;
  color: initial;
}

div.highlight code {
  background-color: unset;
  color: unset;
}

blockquote {
  padding-left: 20px;
  font-style: italic;
}

footer {
  padding: 25px;
  text-align: center;
}

ul.blog-posts {
  list-style-type: none;
  padding: unset;

  li {
    display: flex;

    span {
      flex: 0 0 130px;
    }
  }
}

.footnote-definition {
  &:target {
    background-color: lightyellow;
  }

  p {
    display: inline;  // Fix https://github.com/getzola/zola/issues/1070
  }
}

// Dark theme
body.dark-theme {
  background-color: black;

  &, .title, #theme-toggle {
    color: white;
  }

  pre {
    background-color: #111111 !important;
  }

  a {
    color: skyblue;
  }

  .footnote-definition:target {
    background-color: gold;
    color: black;

    a {
      color: royalblue;
    }
  }
}

header {
  display: flex;
  flex-direction: column;

  .title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #theme-toggle {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.5em;
      line-height: 1;
    }
  }
}

