{% set chart_script = load_data(path=page.colocated_path ~ js_file, format="plain") %}

<div id="{{ js_file }}" style="width: {{ width | default(value="100%") }}; height: {{ height | default(value="400px") }};"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.6.0/echarts.min.js"
  integrity="sha512-XSmbX3mhrD2ix5fXPTRQb2FwK22sRMVQTpBP2ac8hX7Dh/605hA2QDegVWiAvZPiXIxOV0CbkmUjGionDpbCmw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts-gl/2.0.8/echarts-gl.min.js"
  integrity="sha512-BU2/2iqpnDMN4hyqWPLo5MsqlkOF2xOVC8we4iZVZ7xhGfkk7tSiLnxPJb0xZrbhjmtb7qBQ7w3WdAtF13b1sQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const chart = echarts.init(document.getElementById('{{ js_file }}'));
    {{ chart_script | safe }}
    chart.setOption(option);
    window.addEventListener('resize', () => chart.resize());
   });
</script>