body {
  font-family: 'Noto Sans', sans-serif;
  margin: auto;
  padding: 20px;
  max-width: 720px;
  text-align: left;
  background-color: white;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: black;
}

a {
  color: royalblue;
}

.title {
  text-decoration: none;
  border: 0;
  color: black;
}

.title span {
  font-weight: 400;
}

nav a {
  margin-right: 10px;
}

textarea {
  width: 100%;
  font-size: 1rem;
}

input {
  font-size: 1rem;
}

main,
article {
  line-height: 1.6;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
}

pre,
code,
kbd,
samp {
  font-family: 'Noto Sans Mono', monospace;
  font-size: 90%;
}

div.highlight pre {
  background-color: initial;
  color: initial;
}

div.highlight code {
  background-color: unset;
  color: unset;
}

blockquote {
  padding-left: 20px;
  font-style: italic;
}

footer {
  padding: 25px;
  text-align: center;
}

/* Blog posts */
ul.blog-posts {
  list-style-type: none;
  padding: unset;
}

ul.blog-posts li {
  display: flex;
}

ul.blog-posts li span {
  flex: 0 0 130px;
}

/* Footnotes */
.footnote-definition:target {
  background-color: lightyellow;
}

/* Fix https://github.com/getzola/zola/issues/1070 */
.footnote-definition p {
  display: inline;
}

@media (prefers-color-scheme: dark) {

  body,
  .title {
    background-color: black;
    color: white;
  }

  a {
    color: skyblue;
  }

  /* Footnotes */
  .footnote-definition:target {
    background-color: gold;
    color: black;
  }

  .footnote-definition:target a {
    color: royalblue;
  }
}

