<!DOCTYPE html>
<html lang="{{ lang | default(value="en-US" ) }}">
<head>
  {% if current_path %}
    <link rel="canonical" href="{{ config.base_url }}{{ current_path }}" />
  {% endif %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if config.extra.favicon %}
    <link rel="shortcut icon" href="{{ config.extra.favicon }}">
  {% else %}
    <link rel="shortcut icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.55em' font-size='180' fill='gray'>●</text></svg>">
  {%- endif -%}
  <title>{%- block title %}{{ config.title }}{%- endblock %}</title>
  <meta name="title" content="{% if page.title %}{{ page.title }}{% else %}{{ config.title }}{% endif %}">
  <meta name="referrer" content="no-referrer-when-downgrade">
  {%- if config.generate_feed %}
    {% block rss -%}
      <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="{{ config.title }}" href="{{ get_url(path=config.feed_filename) | safe }}">
    {%- endblock -%}
  {%- endif %}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  {% if config.extra.fa_icons | default(value=false) %}
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/js/all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/fontawesome.min.css">
  {% endif %}

  <link id="syntax-theme-stylesheet" rel="stylesheet" type="text/css" href="/syntax-theme-light.css" />
  <link rel="stylesheet" type="text/css" href="/style.css" />

  <script>
    /* Dark mode toggle */

    function setTheme(theme) {
      document.documentElement.classList.toggle("dark-theme", theme === "dark");
      document.getElementById("syntax-theme-stylesheet").href = "/syntax-theme-" + theme + ".css";
      localStorage.setItem("theme", theme);
    }

    let theme = localStorage.getItem("theme") || (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
    setTheme(theme);

    {% if config.extra.theme_toggle | default (value = true) %}
      document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("theme-toggle").addEventListener("click", function (event) {
          event.preventDefault();
          theme = theme === "dark" ? "light" : "dark";
          setTheme(theme);
        });
      });
    {% endif %}
  </script>

  <script>
    /* Add footnote backlinks (code from https://github.com/getzola/zola/issues/1070#issuecomment-1166637092) */

    document.addEventListener('DOMContentLoaded', () => {
      const references = document.getElementsByClassName('footnote-reference')
      // For each footnote reference, set an id so we can refer to it from the definition.
      // If the definition had an id of 'some_id', then the reference has id `some_id_ref`.
      for (const reference of references) {
        const link = reference.firstChild
        const id = link.getAttribute('href').slice(1) // skip the '#'
        link.setAttribute('id', `${id}_ref`)
      }

      const footnotes = document.getElementsByClassName('footnote-definition')
      // For each footnote-definition, add an anchor element with an href to its corresponding reference.
      // The text used for the added anchor is 'Leftwards Arrow with Hook' (U+21A9).
      for (const footnote of footnotes) {
        const id = footnote.getAttribute('id')
        const backReference = document.createElement('a')
        backReference.setAttribute('href', `#${id}_ref`)
        backReference.textContent = '↩'
        const ps = footnote.children
        ps[ps.length - 1].appendChild(backReference)
      }
    });
  </script>

  {% if config.extra.render_latex | default(value=false) %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex/dist/contrib/auto-render.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex/dist/contrib/copy-tex.min.js"></script>
    <script defer>
      document.addEventListener("DOMContentLoaded", function () {
        renderMathInElement(document.body, {
          delimiters: [
            { left: "$$", right: "$$", display: true },
            { left: "\\[", right: "\\]", display: true },
            { left: "$", right: "$", display: false },
            { left: "\\(", right: "\\)", display: false }
          ]
        });
      });
    </script>
  {% endif %}
</head>
<body>
  {% include "header.html" ignore missing -%}
  {% block main %}{%- endblock -%}
  {% include "footer.html" ignore missing -%}
</body>
</html>
